/* Teeratus_R 02 Dec 2021 */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #1D1E22;
  color: white;
  padding: 1rem;
  
}
    
/* https://thegraph.com/en/ */
h1 {
  text-align: center;
  text-shadow: 0 0 80px rgb(192 219 255 / 60%), 0 0 32px rgb(65 120 255 / 24%);
}
    
/* https://rareblocks.xyz/ */
h2, h3 {
  text-align: center;
  text-shadow: 0 0 80px rgb(192 219 255 / 55%), 0 0 32px rgb(65 120 255 / 24%);
  background: linear-gradient(to right, #30CFD0, #c43ad6);
  /* -webkit-background-clip: text; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
  color: rgb(240, 190, 225);
}